/* style.css : genereic start stylesheet */
/* Jan Jakubowski - 15.apr.19            */
* {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7C9BFF;
  /* background: url(../images/wallpaper-backup.jpeg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 10px 20px;
}

p {
  font-size: 30px;
  /* font-weight: bold; */
  margin: 10px 20px
}

.startGame {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 10px auto 0 auto;
  padding: 20px;
  font-size: 24px;
}

.redTxt {
  color: red;
  background-color: #cccccc;
}

.multipleChoice {
  width: 75%;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #FFB581;
  border: 5px solid darkslateblue;
  margin: 2%;
  padding: 20px;
  position: relative;
}

.pickedRight {
  color: #FFB581;
  background-color: green;
}

.pickedWrong {
  color: #FFB581;
  background-color: red;
}

.result {
  margin: 5px 20px;
  font-size: 25px;
  font-weight: bold;
}

/* END OF FILE */